@use '../utils/' as *;
@use '../base/' as *;
.hero {
  & .container {
    padding: 0px;
    & > div {
      padding: 0px;
    }
  }
  &--section {
  }
  &__wrapper {
  }
  &__main {
    position: relative;
    padding: 30px 16px 190px;
    background: linear-gradient(
      90deg,
      rgba(60, 205, 170, 0.35) 0%,
      rgba(5, 60, 90, 0.35) 97.99%
    );
    @include media-query(breakpoint-md) {
      border-radius: 30px;
    }
    &-content {
      max-width: 360px;
      @include media-query(breakpoint-md) {
        max-width: 420px;
      }
      & h1 {
        color: $primary-blue;
      }
      & p {
        font-size: 12px;
        line-height: 18px;
        color: $text-black;
      }
    }
    &-img {
      position: absolute;
      max-width: 282px;
      position: absolute;
      bottom: 0;
      right: 0px;
      @include media-query(breakpoint-md) {
        max-width: 380px;
      }
    }
  }
  &__form {
    margin-top: -80px;
    position: relative;
    z-index: 2;
    box-shadow: 0px 2px 20px 0px #92929233;
    border-radius: 20px;
    &-contents {
      background-color: $white-color;
      padding: 15px 16px 15px 16px;
      border-radius: 20px;
      border-top-left-radius: 0px;
    }
    &-content {
      --bs-gutter-x: 15px;
      justify-content: center;
      align-items: flex-end;
    }
    &-col {
      &__mHalf {
        width: 50%;
      }
      @include media-query(breakpoint-md) {
        width: 50%;
      }
      @include media-query(breakpoint-lg) {
        width: 25%;
      }
      @include media-query(breakpoint-xl) {
        width: 20%;
      }
    }
    &-nav {
      background-color: $white-color;
      padding: 15px 16px 0px 16px;
      border-radius: 20px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      display: inline-block;
      & ul {
        display: inline-flex;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        gap: 15px;
        border: none;
        margin-bottom: 14px;
        & li {
          & button {
            border-radius: 10px;
            border-color: $cool-gray;
            color: $dark-gray;
            font-weight: 600;
            padding: 11px 10px;
            line-height: 1;
            height: auto;
            min-width: inherit;
            @include media-query(breakpoint-lg) {
              padding: 13px 26px;
            }
            &.active {
              background-color: $primary-blue;
              color: $white-color;
            }
          }
        }
      }
    }
    &-control {
      & .btn {
        @include media-query(breakpoint-xl) {
          width: 100%;
        }
      }
    }
  }
}
