// Fonts
$primary-font: 'Montserrat', sans-serif;

// Colors (from Design System)
$primary-blue: #053c5a;
$primary2-turquoise: #3ccdaa;
$black: #232536;
$text-black: #212529;
$text-white: #ffffff;
$cool-gray: #bebebe;
$light-gray: #ebebeb;
$dark-gray: #6a6d6f;
$bg-gradient: linear-gradient(
  to right,
  rgba(60, 205, 171, 0.2) 0%,
  rgba(5, 60, 90, 0.2)
);

// Custom Colors
$white-color: #fff;
$black-color: #000;
$body-color: #f3f3f3;

// Responsive Breakpoints (Mobile First Approach)
$breakpoint-xsm: 430px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1400px !default;
$breakpoint-xxl-2: 1600px !default;
