// Customize Bootstrap class and Add.
@use '../utils/' as *;
@use '../base/' as *;
.form {
  &-label {
    font-size: 14px;
    font-weight: 600;
    color: $cool-gray;
    margin-bottom: 6px;
    line-height: 1;
  }
  &-control {
    color: $text-black;
    border: 1px solid $cool-gray;
    height: 48px;
    border-radius: 12px;
  }
  &-select {
    color: $text-black;
    border: 1px solid $cool-gray;
    height: 48px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
  }
}
