@use '../utils/' as *;
@use '../base/' as *;

.lang-switcher {
    &__btn {
        gap: 5px;
    }

    &__btn__text,
    &__link {
        color: $text-black;
        font-size: 16px;
        font-weight: 600;

        @include media-query(breakpoint-lg) {
            font-size: 18px;
        }
        @include media-query(breakpoint-xxl) {
            font-size: 20px;
        }
    }

    &__icon {
        max-width: 14px;
        @include media-query(breakpoint-lg) {
            max-width: 20px;
        }

        svg {
            width: 100%;
        }
    }

    &__box {
        position: absolute;
        right: 0;
        top: 100%;
        min-width: 166px;
        padding: 8px 12px;
        border-radius: 20px;
        box-shadow: 0 2px 20px 0 rgba(146, 146, 146, 0.2);
        background-color: $white-color;
        margin-top: 24px;
        opacity: 0;
        visibility: hidden;
        @include transition-common;

        @include media-query(breakpoint-xl) {
            margin-top: 40px;
        }
    }
    &__btn:hover {
        .lang-switcher__box {
            margin-top: 10px;
            opacity: 1;
            visibility: visible;

            @include media-query(breakpoint-xl) {
                margin-top: 24px;
            }
        }
    }

    &__link {
        padding: 12px 0;
        padding-left: 6px;
        border-bottom: 1px solid $cool-gray;
        cursor: pointer;
        &__icon {
            width: 16px;
            height: 16px;
            display: inline-block;
            border-radius: 50%;
            border: 1px solid $cool-gray;
            background-color: $light-gray;
            position: relative;
            @include transition-common;

            &::after {
                content: '';
                width: 33.3333%;
                height: 33.3333%;
                border-radius: 50%;
                background-color: $primary-blue;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(0);
                @include transition-common;
            }
        }
        &:hover,
        &.active {
            .lang-switcher__link__icon {
                border-color: $primary-blue;

                &::after {
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }
    }
}
